@font-face {
  font-family: "BaskervilleMTPro";
  src: url("../fonts/Baskerville.eot");
  src: url("../fonts/Baskerville.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Baskerville.woff2") format("woff2"),
    url("../fonts/Baskerville.woff") format("woff"),
    url("../fonts/Baskerville.ttf") format("truetype");
}

@font-face {
  font-family: "BaskervilleMTPro";
  font-style: italic;
  src: url("../fonts/BaskervilleItalic.eot");
  src: url("../fonts/BaskervilleItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BaskervilleItalic.woff2") format("woff2"),
    url("../fonts/BaskervilleItalic.woff") format("woff"),
    url("../fonts/BaskervilleItalic.ttf") format("truetype");
}
