@import "./_mixins";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "BaskervilleMTPro", "Times New Roman", serif;
  font-size: 32px;
  overflow-x: hidden;
  background-color: #efefef;

  @include lt-mobile {
    font-size: 30px;
  }
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.Layout {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 40px;

  @include lt-mobile {
    padding: 25px;
    padding-bottom: 15px;
  }
}

.soft-logo,
.meta-links {
  display: block;
  position: absolute;
  bottom: 30px;

  @include lt-mobile {
    text-align: center;
    position: static;
  }
}

.soft-logo-container {
  @include lt-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main-page & {
      height: 68vh;
    }
  }
}

.soft-logo {
  font-style: italic;
  left: 40px;

  @include lt-mobile {
    padding: 50px 0;
    padding-bottom: 60px;

    .about-page & {
      display: none;
    }
  }
}

.meta-links {
  right: 40px;
  font-style: normal;
  text-align: right;

  a {
    display: block;
  }

  @include lt-mobile {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
  }
}
