.MailingList-form {
  transition: opacity 0.2s;
}

.MailingList-form.is-submitting {
  opacity: 0.5;
}

.MailingList-form input {
  border: 1px solid black;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  padding: 10px 20px;
  padding-top: 15px;
  &:focus {
    outline: none;
  }
}

.MailingList-form input[type="email"] {
  max-width: 100%;
  box-sizing: border-box;
}

.MailingList-form input[type="submit"] {
  margin-top: 7px;
  cursor: pointer;
}

.MailingList-subscribe-error,
.MailingList-subscribe-success {
  margin-top: 0.5em;
}
